@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:ital@0;1&family=Open+Sans&family=Prompt:wght@200&family=Roboto:wght@700&display=swap");

.input-div {
  margin: auto;
  width: 465px;
  margin-top: 70px;
  margin-bottom: 10px;
  border-bottom: 2px solid #9ca3af;
}
.input {
  text-align: left;
  padding-right: 25px;
  width: 410px;
  font-size: 30px;
  border: 0;
}

.input:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.weather-div {
  position: relative;
  color: white;
  background-color: #38bdf8;
  text-align: left;
  margin: auto;

  width: 800px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .weather-div {
    width: 95%;
  }
  .input-div {
    width: 70%;
  }
}

.weather-info {
  padding-left: 70px;
}
.weather-info .place-name {
  font-size: 50px;
  margin-bottom: 0;
}

.weather-info .date {
  margin-top: -8px;
}

.weather-info .temp {
  padding: 5px 0;
  font-size: 100px;
}
.weather-info .cloud {
  margin-top: -20px;
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 10px;
}

.cloud .cloud-icon {
  opacity: 0.8;
  /* padding: 1px; */
  padding-left: 5px;
  padding-right: 15px;
}

.weather-info .precip {
  padding-top: 10px;
  width: 220px;
  border-top: 2px solid #d1d5db;
  font-size: larger;
}

.weather-info .wind {
  font-size: larger;
  padding-bottom: 20px;
}

.nodata {
  font-size: 40px;
  padding-top: 10px;
  color: #fecaca;
}

.error-icon {
  padding-top: 10px;
  font-size: 100px;
  opacity: 0.5;
}

.search-icon {
  font-size: 25px;
  color: #d1d5db;
}

.weather-img {
  position: absolute;
  right: 5%;
  top: 5%;
}
